ion-tab-bar{
  height: 5.5rem;
  --ion-tab-bar-color: var(--ion-color-black);
  --ion-tab-bar-background: var(--ion-color-neutral);
  --ion-tab-bar-color-selected: #030D45;
  --ion-tab-bar-background-focused: var(--ion-color-neutral);
}
