<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon class="text-xl" aria-hidden="true" src="/assets/icon/home.svg" />
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon class="text-2xl" aria-hidden="true" src="/assets/icon/location.svg" />
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon class="text-3xl" aria-hidden="true" src="/assets/icon/ball.svg" />
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon class="text-2xl" aria-hidden="true" src="/assets/icon/users.svg" />
    </ion-tab-button>

    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon class="text-2xl" aria-hidden="true" src="/assets/icon/market.svg" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
