// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{

  --ion-color-primary: #00869C;
  --ion-color-primary-rgb: 0,134,156;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #007689;
  --ion-color-primary-tint: #1a92a6;

  --ion-color-secondary: #005061;
  --ion-color-secondary-rgb: 0,80,97;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #004655;
  --ion-color-secondary-tint: #1a6271;

  --ion-color-neutral: #ffffff;
  --ion-color-neutral-rgb: 255, 255, 255;
  --ion-color-neutral-contrast: #000000;
  --ion-color-neutral-contrast-rgb: 0, 0, 0;
  --ion-color-neutral-shade: #e0e0e0;
  --ion-color-neutral-tint: #ffffff;

  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: 255, 255, 255;
  --ion-color-transparent-contrast: inherit;
  --ion-color-transparent-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-shade: #e0e0e0;
  --ion-color-transparent-tint: transparent;

  --ion-color-body-2: #4C4C4C;
  --ion-color-body-2-rgb: 76,76,76;
  --ion-color-body-2-contrast: #ffffff;
  --ion-color-body-2-contrast-rgb: 255,255,255;
  --ion-color-body-2-shade: #434343;
  --ion-color-body-2-tint: #5e5e5e;

  --ion-color-body-3: #CAC9C9;
  --ion-color-body-3-rgb: 202,201,201;
  --ion-color-body-3-contrast: #000000;
  --ion-color-body-3-contrast-rgb: 0,0,0;
  --ion-color-body-3-shade: #b2b1b1;
  --ion-color-body-3-tint: #cfcece;

  --ion-color-black: #000000;
  --ion-color-black-rgb: 0,0,0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255,255,255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;

  --ion-text-color: #000;
}

.ion-color-neutral {
  --ion-color-base: var(--ion-color-neutral);
  --ion-color-base-rgb: var(--ion-color-neutral-rgb);
  --ion-color-contrast: var(--ion-color-neutral-contrast);
  --ion-color-contrast-rgb: var(--ion-color-neutral-contrast-rgb);
  --ion-color-shade: var(--ion-color-neutral-shade);
  --ion-color-tint: var(--ion-color-neutral-tint);
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent);
  --ion-color-base-rgb: var(--ion-color-transparent-rgb);
  --ion-color-contrast: var(--ion-color-transparent-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-shade);
  --ion-color-tint: var(--ion-color-transparent-tint);
}

.ion-color-body-2 {
  --ion-color-base: var(--ion-color-body-2);
  --ion-color-base-rgb: var(--ion-color-body-2-rgb);
  --ion-color-contrast: var(--ion-color-body-2-contrast);
  --ion-color-contrast-rgb: var(--ion-color-body-2-contrast-rgb);
  --ion-color-shade: var(--ion-color-body-2-shade);
  --ion-color-tint: var(--ion-color-body-2-tint);
}

.ion-color-body-3 {
  --ion-color-base: var(--ion-color-body-3);
  --ion-color-base-rgb: var(--ion-color-body-3-rgb);
  --ion-color-contrast: var(--ion-color-body-3-contrast);
  --ion-color-contrast-rgb: var(--ion-color-body-3-contrast-rgb);
  --ion-color-shade: var(--ion-color-body-3-shade);
  --ion-color-tint: var(--ion-color-body-3-tint);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}
